## Ignore everything
/*
/*/

## But not these files...
!.gitignore
!docker-compose.yml
!renovate.json
!README.md
!grafana_dashboard_version_02_03_2020.json
!.env
!startup.sh

## Include this folder and all of its content:
!/shinyproxy
!/.img

## Ignore this folders content:
/.img/*

## But not these files...
!/.img/browser_demo.png

## Ignore this folders content:
/shinyproxy/env/*.env


